<h1>Hi, Welcome to Progressive Web App :) </h1>

<div class="container">
    <button (click)="connect()" style="white-space: pre-wrap" class="btn btn-success">Connect to serial
        port</button><br>
    <button (click)="getData()" style="white-space: pre-wrap" class="btn btn-success">Send data to device</button><br>
    <textarea style="white-space: pre-wrap" name="data" #data></textarea><br>
    <button (click)="sendData(data.value)" style="white-space: pre-wrap" class="btn btn-success">Recieve data from
        device</button><br>
    <div *ngIf="showError">
        <label style="color: red">{{errorMessage}}</label>
    </div>
</div>
<!-- <div id = "badge" class="card">
        <img class="photo" src="assets/icons/9.png">
        <div class="info">
            <h1 id="name">YOUR NAME</h1>
            <label>Web Developer</label>
            <br>
            <h3 id="phn">Phone no.:</h3>
            <h3 id="mailadd" type=email>Email:</h3>
        </div>
        <div class="create">
            <button (click)="k()">Create</button>
        </div>
    </div> -->
    <div id="container">
        <video autoplay="true" id="videoElement" src="">
        
        </video>
        <button (click)="takeSnap()" style="white-space: pre-wrap" class="btn btn-success">Snap</button><br>
    </div>
<div class="card" id="badge" style="width:234px;height:402px;border: 1px solid">
    <img id="userimage" src="assets/icons/9.png" alt="John" style="width:234px;height:200px">
    <div class="info">
        <h3>Imran Khan M</h3>
        <p class="title">Software Engineer</p>
        <!-- <div style="margin: 24px 0;"> -->
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a> 
                        <a href="#"><i class="fa fa-twitter"></i></a>  
                        <a href="#"><i class="fa fa-linkedin"></i></a>  
                        <a href="#"><i class="fa fa-facebook"></i></a>  -->
        <!-- </div> -->
    </div>
    <div>
        <img id="qr" src="assets/icons/sampleqrcode.png" alt="QRcode" style="width:75px;height:75px">
    </div>
    <br>
    <br>
    <div> </div>
</div>
<br>
<div>
<button (click)="savePDF()" style="white-space: pre-wrap" class="btn btn-success">Print</button><br>
</div>
<div>
<app-event-stream></app-event-stream>
    
</div>
<!-- <div id="anotherdic">
    <video id="webcam" autoplay playsinline width="640" height="480"></video>
</div> -->